body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    margin: 0;
    padding: 20px;
}
h1{
    font-size: 1.5 rem;
    text-align: center;
    margin: 5px;
}
form {
  margin: 20px 0;
  display: flex;
  gap: 5px;
}
#search-bar{
    border-radius: 8px;
    background-color: #b7dce2;
    cursor:pointer;
    color:#1b1c1b
}
#content-box{
    display:block;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width:30%;
    height:30%;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, #B0CE88, #7cb466);
}
#content-box img{
    width:40%;
    height:30%;
}